.Home_Image_Container {
  margin-left: 1rem;
}

.Home_Form_Section_Container {
  margin-right: 3rem;
  width: 350px;
  margin-top: 3.5rem;
}

.Home_Form_div {
  border: 1px solid #e1e1e1;
  height: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.Home_FacebookLink_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #385185;
  margin-top: 2.3rem;
  font-weight: 700;

  span {
    font-size: 1.4rem;
    margin-left: .4rem;
  }
}

.Home_ResetPassLink {
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #385185;
}

.Home_NoAccount_Container {
  height: 6.2rem;
  border: 1px solid #e1e1e1;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  p {
    font-size: 1.35rem;

    a {
      text-decoration: none;
      color: #0095f6;
      font-weight: bold;
    }
  }
}

.Home_DownloadSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem;
    padding: 1rem;
  }

  div {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40%;
      text-decoration: none;
      color: #fff;
      background-color: black;
      border-radius: 5px;
      font-size: 1rem;
      margin-right: 1rem;

      span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        color: silver;

        span {
          font-size: 1.6rem;
          color: #fff;
        }
      }
    }
  }
}