.Image_Container {
  margin-left: 1rem;
}

.Form_Section_Container {
  margin-right: 3rem;
  width: 350px;
  margin-top: 3.5rem;

  @media (max-width: 875px) {
    margin-right: 0;
    margin-top: 0;
  }
}

.Form_div {
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  @media (max-width: 875px) {
    border: none;
    background-color: #fafafa;
  }
}

.FacebookLink_Container {
  width: 74%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;

  font-weight: 700;
  background-color: #0095f6;

  span {
    font-size: 1.4rem;
    margin-left: .4rem;
  }
}

.ResetPassLink {
  width: 75%;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #385185;
  margin: 1rem 0 3rem 0;

  p {
    text-align: center;
    font-size: 1.2rem;
    color: #8e8e8e;

    a {
      text-decoration: none;
      color: #8e8e8e;
      font-weight: 700;

      &:visited {
        color: #00376b;
      }
    }
  }
}

.NoAccount_Container {
  height: 6.2rem;
  border: 1px solid #e1e1e1;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  @media (max-width: 875px) {
    border: none;
    background-color: #fafafa;
    margin-top: 2rem;
  }

  p {
    font-size: 1.35rem;

    a {
      text-decoration: none;
      color: #0095f6;
      font-weight: bold;
    }
  }
}

.DownloadSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 875px) {
    margin-top: 1rem;
  }

  p {
    font-size: 1.4rem;
    padding: 1rem;
  }

  div {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40%;
      text-decoration: none;
      color: #fff;
      background-color: black;
      border-radius: 5px;
      font-size: 1rem;
      margin-right: 1rem;

      span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        color: silver;

        span {
          font-size: 1.6rem;
          color: #fff;
        }
      }
    }
  }
}